<header id="header"></header>
<main id="main"></main>

<div id="main-content">
  <a class="browse" href="/#shops">Browse</a>

<div>
<footer id="footer"></footer>

<script>
  $(document).ready(function(){
    Getsy.initialize();
  });
</script>
