<header id="header"></header>
<main id="main"></main>

<div id="main-content">
  <section class="splash">
    <p class="tag-line">Get stuff from other people.<p>
  </section>
  <br>
  <a class="browse" href="/#shops">Browse</a>
<div>

<footer id="footer"></footer>
