<h3 class="log-in">Sign In</h3>
<%= flash[:errors].join("<br>").html_safe if flash[:errors]  %>
<form action="<%= session_url %>" method="post">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <label>Email:
    <input type="text" name="user[email]">
  </label>
  <br>
  <label>Password:
    <input type="password" name="user[password]">
  </label>

  <button class="submit">Sign In</button>
</form>
