<h1>Register a new shop!</h1>
<%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

<form action="<%= api_shops_url %>" method="post">
  <%= render partial: "shops/form" %>

  <button class="submit">Submit</button>
</form>
