<h1>Welcome to <%= @shop.name %></h1>
<br><br>
<ul>
  <% @shop.items.each do |item| %>
    <li><a href="<%=shop_item_url(@shop.id, item.id) %>"><%= item.name %></a></li>
  <% end %>

</ul>
<br><br><br>


<a class= "add-item"href="<%= new_shop_item_url(@shop.id) %>">List a new product</a>
