
<div class="header-wrapper">

    <ul class="nav-left group">
      <li>
        <a class="getsy" href="">Getsy</a>
      </li>
      <li>
        <input class="text-search" type="text" name="searchcontent" value=""
          placeholder="Search for items or shops">
      </li>
      <li>
        <button class="search">Search</button>
      </li>
      <li>
        <!-- <input list="ideas" />
        <datalist id="ideas">
          <option value="Cool Stuff">
          <option value="Boring Stuff">
        </datalist> -->
      </li>

    </ul>

    <% if(Getsy.currentUser.isSignedIn()) { %>

      <ul class="nav-right group">
        <li><a href="/#shops">Home</a></li>
        <li><a href="#users/<%= Getsy.currentUser.id %>">
          <%= Getsy.currentUser.escape("fname") %>
          </a>
        </li>
        <li>
          <button class="sign-out" id="sign-out-link">Sign Out</button>
        </li>
        <li><a href="#carts/1">Cart</a></li>
      </ul>

    <% } else { %>
      <ul class="nav-right group">
        <li><a href="/#shops">Home</a></li>
        <li><a href="#session/new">Sign In</a></li>
        <li><a href="#users/new">Register</a></li>
        <li><a href="#carts/1">Cart</a></li>
      </ul>


    <% } %>



</div>
