<h2 class="user-form-title">Sign In</h2>

<p>
  <a class="twitter" href="/auth/twitter">Sign in with Twitter</a>
</p>

<form class="user">

  <label>
    Email<br>
    <input class="user-input-text" type="text" name="user[email]">
  </label>

  <br>

  <label>
    Password<br>
    <input class="user-input-text" type="password" name="user[password]">
  </label>

  <br>

  <button class="submit">Sign In</button>
</form>
