<h2>Sign In</h2>

<p>
  <a href="/auth/twitter">Sign in with Twitter</a>
</p>

<form>

  <label>
    Email
    <input type="email" name="user[email]">
  </label>

  <br>

  <label>
    Password
    <input type="password" name="user[password]">
  </label>

  <br>

  <button>Sign In</button>
</form>
