<h2 class="user-form-title">Register</h2>

<form class="user">

  <label>
    First Name<br>
    <input class="user-input-text" type="text" name="user[first_name]"
           value="<%= user.escape("first_name") %>">
  </label>

  <br>

  <label>
    Last Name<br>
    <input class="user-input-text" type="text" name="user[last_name]"
           value="<%= user.escape("last_name") %>">
  </label>

  <br>

  <label>Sex:
    <br>
    Female<input
      class="radio" type="radio"
      name="user[sex]" value="F">
    Male<input
      class="radio" type="radio"
      name="user[sex]" value="M">
    Rather not say<input
      class="radio" type="radio"
      name="user[sex]" value="O" checked>
  </label>
  <br>

  <label>
    Email<br>
    <input class="user-input-text" type="email" name="user[email]"
           value="<%= user.escape("email") %>">
  </label>

  <br>

  <label>
    Password<br>
    <input class="user-input-text" type="password" name="user[password]"
           value="<%= user.escape("password") %>">
  </label>

  <br>

  <button class="submit">Create Account</button>

</form>
