<section class="cart-container">
  <h1 class="cart">Cart</h1>

  <section id="orders">
    <% if(Getsy.currentCart.orders().length === 0){ %>
      Your Cart is Empty
    <% }else{ %>
    <h4 class="cart-total">Total: $<%= Getsy.currentCart.get('total').toFixed(2) %></h4>
    <% } %>
  </section>

  <button class="checkout">Checkout</button>
</section>
