

<div class="shop">
  <label>Shop name<br>
    <input class="form-input-text" type="text" name="name"
      value="<%=shop.escape('name')%>">
  </label>
  <br><br>

  <label>Description<br>
    <textarea class="form-description" name="description">
      <%= shop.escape('description') %>
    </textarea>
  </label>
</div>
  <button class="submit">Submit</button>
