

  <label>Shop name:
    <input type="text" name="name"
      value="<%=shop.escape('name')%>">
  </label>
  <br><br>

  <label>Description:
    <textarea name="description">
      <%= shop.escape('description') %>
    </textarea>
  </label>
  <br><br>
  <button class="submit">Submit</button>
