<ul class="shops">
  <% shops.each (function (shop){ %>
    <li>
      <ul>

        <% for(var i = 0; i < 4; i++){ %>
          <li> 
            <img src="<%=shop.items().first().escape('main_image_url') %>"
              alt='image'>
          </li>
        <% } %>
          <!-- <li></li>
          <li></li>
          <li></li> -->
        <li>
          <a class="nav-link" href="/#shops/<%= shop.escape('id') %>">
            <%= shop.escape('name') %>
          </a>
        </li>

      </ul>
    </li>
  <% }); %>
</ul>
