<ul class="shops">
  <h1>This is in Backbone</h1>
  <% shops.each (function (shop){ %>
    <li><a class="nav-link" href="/#shops/<%= shop.escape('id') %>">
      <%= shop.escape('name') %>
    </a><li>
  <% }); %>
</ul>
