<h3 class="log-in">Register</h3>

<%= flash[:errors].join("<br>").html_safe if flash[:errors]  %>

<form action="<%= users_url %>" method="post">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <label>First name:
    <input type="text" name="user[fname]">
  </label><br><br>
  <label>Last name:
    <input type="text" name="user[lname]">
  </label>
  <br><br>
  <label>Sex:
    <br>
    Female<input
      class="radio" type="radio"
      name="user[sex]" value="F">
    Male<input
      class="radio" type="radio"
      name="user[sex]" value="M">
    Rather not say<input
      class="radio" type="radio"
      name="user[sex]" value="O" checked>
  </label>
  <br><br>
  <label>Email:
    <input type="text" name="user[email]">
  </label>
  <br><br>
  <label>Password:
    <input type="password" name="user[password]">
  </label>
  <br><br>
  <!-- <label>Confirm password:
    <input type="password" name="user[password_confirm]">
  </label>
  <br><br> -->
  <button class="submit">Sign Up!</button>

</form>
