/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*********** RESET **********/

  html, body, header, footer, nav, h1, a,
  ul, li, button, section, img, div,
  h2, h3, h4, h5, h6, p, form, text,
  fieldset, label, span, article, footer, time, small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
    display: block;
    -webkit-appearance: none;
  }

  ul {
    list-style: none;
  }

  .group:after {
    content: "";
    display: block;
    clear: both;
  }

  body {
    box-sizing: content-box;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #f5f5f1;
  }




  /*.container {
    width: 980px;
    margin: 0 auto;
  }*/

  .site-footer {
    height: 100px;
    background: #fff;
    border-top: #eee solid 1px;
  }
  /************ Buttons ***********/

  .browse, .search, .submit{
    color: #fff;
    border: solid 1px;
    border-color: #54acc7 #4ca0ba #398a9d;
    background: -webkit-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
  }

  .search:hover, .browse:hover, .submit:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  .search:active, .browse:active, .submit:active {
    background: #01698C;
  }

  .search, .submit{
    padding: 10px 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 14px;
    font-weight: 700;
  }

  .browse {
    text-align: center;
    display: block;
    margin: 100px auto;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
  }

  .submit {
    border-radius: 3px;
    margin: 20px;
  }


/********** Header **********/
  .header-wrapper{
    background: #fff;
    height: 100px;
    width: 980px;
    margin: auto;
  }

  #header {
    background: #fff;
    border-bottom: #eee solid 1px;
  }

  input.text-search {
    background: #fff;
    height: 32px;
    width: 200px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 14px;
    padding-left: 10px;
  }

  .nav-left{
    float: left;
  }

  .nav-right{
    float: right;

  }

  .getsy {
    font-family: Times;
    font-size: 48px;
    color: #f45800;
    padding: 0 40px 0 0;
    margin-top: -10px;
  }

  .nav-left > li {
    float: left;
    padding-top:40px;
  }

  .search {
    margin-right: 30px;
  }

  .nav-right > li {
    float: left;
    padding-top: 40px;
    color: #aaa;
  }

  .nav-right > li:hover {
    color: #000;
  }

  .nav-right > li > a{
    display: block;
    padding: 10px;
  }

  .sign-out{
    display: block;
    padding: 10px;
  }

  .sign-out:hover{
    cursor: pointer;
  }

  .nav-link {
    padding: 10px;
    color: #000;
  }

  .nav-link:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  /********** Shop Index **********/
  .shops-index{
    width: 980px;
    margin: auto;
  }

  .all-items{
    float: left;
    width: 690px;
    margin: 0 auto;
  }

  .items-by-shop{
    float: left;
    width: 308px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0 0 20px;

    border: 1px solid #ddd;
  }

  .items-by-shop > li{
    float: left;
    /*opacity: .9;*/
  }

  .items-by-shop > li:hover{
    opacity: .9;
  }

  .items-by-shop img{
    width: 154px;
    height: 122px;

  }

  .items-by-shop > .nav-link {
    color: #000;
  }

/*********** Misc ***********/
  .radio:hover{
    cursor: pointer;
  }

  .splash{
    position: relative;
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT_P1Cj1Rye7HujFL7bv7Y93kgxAT9Y1PvnwN5CkOZSmzYSLUYv);
    height: 400px;
    background-size: cover;
  }

  .tag-line{
    position: absolute;
    width: 30%;
    top: 50px;
    left: 50px;
    font-size: 48px;
    color: #fff;
  }

  /*********** User Forms **********/
  .user-form{
    width: 550px;
    margin: 40px auto;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  h2.user-form-title {
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    margin: 40px auto;
    text-align: center;
  }

  .user{
    width: 300px;
    margin: 40px auto;
  }

  .user > label {
    font-size: 12px;
    font-weight: 300;
  }

  .user-input-text {
    height: 30px;
    width: 300px;
    border-radius: 3px;
    font-size: 14px;
  }

  .user > button.submit {
    margin: 10px auto;
  }

  .twitter {
    padding: 10px;
    width: 150px;
    color: blue;
    text-align: center;
    margin: auto;
  }

  .twitter:hover {
    text-decoration: underline;
  }

  /************* Shop Show Item Thumbs*************/
  .shop-show {
    width: 980px;
    margin: auto;
  }

  #items {
    width: 780px;
    float: right;
    background: #fff;
    padding-top: 8px;
  }

  .thumb {
    float: left;
    border: 1px solid #eee;
    background: #fff;
    margin:8px 4px;

  }

  .thumb > a >img{
    width: 175px;
    height: 150px;
    margin: auto;
    padding-bottom: 5px;
  }

  .item-name {
    font-size: 12px;
    color: #666;
    overflow: hidden;
    padding: 5px;
    margin: 0;
  }

  .price {
    display: block;
    float: right;
    color: #78C042;
    font-size: 12px;
    font-weight: 300;
  }

  .price > span {
    font-size: 9px;
    float: right;
    padding: 3px 5px;
  }

  .edit {
    color: #aaa;
    float: left;
    font-size: 12px;
  }
.shop-show {
  background: #fff;
}

.shop-name{
  background: #fff;
  padding: 30px;
  float: right;
  font-size: 48px;
  font-weight: 100;
  color: #666;
}

.container {
  background: #fff;
}

.left-sidebar {
  float: left;
  width: 190px;
  background: #f5f5f1;
  margin: 15px auto;
  border-radius: 5px;
  min-height: 400px;
}
