/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*********** RESET **********/

  html, body, header, footer, nav, h1, a,
  ul, li, button, section, img, div,
  h2, h3, h4, h5, h6, p, form,
  fieldset, label, span, article, footer, time, small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
    display: block;
  }

  ul {
    list-style: none;
  }

  .group:after {
    content: "";
    display: block;
    clear: both;
  }

  body {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #f8f8ff;
  }

  .splash{
    position: relative;
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT_P1Cj1Rye7HujFL7bv7Y93kgxAT9Y1PvnwN5CkOZSmzYSLUYv);
    height: 400px;
    background-size: cover;
  }

  .tag-line{
    position: absolute;
    width: 30%;
    top: 50px;
    left: 50px;
    font-size: 48px;
    color: #fff;
  }

  header {
    background: #fff;
    border-bottom: #eee solid 1px;
  }

  .site-footer {
    height: 100px;
    background: #fff;
    border-top: #eee solid 1px;
  }

  .browse {
    text-align: center;
    display: block;
    margin: 100px auto;
    padding: 10px;
    color: #fff;
    background: #0B799E;
    width: 200px;
    border-radius: 5px;
  }

  .browse:hover {
    background: #01698C;
  }
  .nav-left{
    float: left;
  }

  .nav-right{
    float: right;
    padding-right: 20px;
  }

  .getsy {
    font-family: fantasy;
    font-size: 32px;
    color: orange;
    padding: 0px 40px;
    margin-top: -10px;
  }

  .nav-left > li {
    float: left;
    padding-top:40px;
  }

  .search {
    margin-right: 30px;
  }

  .nav-right > li {
    float: left;
    padding-top: 20px;
    color: #aaa;
  }

  .nav-right > li:hover {
    color: #000;
  }

  .nav-right > li > a{
    display: block;
    padding: 20px;
  }

  .sign-out{
    display: block;
    padding: 20px;
  }

  button.submit {
    background: #0B799E;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }

  button.submit:hover{
    background: #01698C;
    cursor: pointer;
  }

  .radio:hover{
    cursor: pointer;
  }

  .nav-link {
    padding: 10px;
    color: #aaa;
  }

  .nav-link:hover{
    color: #000;
    cursor: pointer;
  }
