/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*********** RESET **********/

  html, body, header, nav, h1, a,
  ul, li, button, section, img, div,
  h2, h3, h4, h5, h6, p, form,
  fieldset, label, span, article, footer, time, small {
    margin: 0;
    padding: 0;
    border: 0;
    /*outline: 0;*/
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
  }

  ul {
    list-style: none;
  }

  .group:after {
    content: "";
    display: block;
    clear: both;
  }

  body {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #f8f8ff;
  }

  header {
    background: #fff;

  }

  .nav-left{

    float: left;
    /*background: blue;*/
  }

  .nav-right{
    float: right;
    padding-right: 20px;
    /*background: red;*/
  }

  .getsy {
    font-family: fantasy;
    font-size: 32px;
    color: orange;
    padding: 0px 40px;
    margin-top: -10px;
  }

  .nav-left > li {
    float: left;
    padding-top:40px;
  }

  .search {
    /*background: yellow;*/
    margin-right: 30px;
  }

  .nav-right > li {
    float: left;
    padding-top: 20px;
    color: #aaa;
  }

  .nav-right > li:hover {
    color: #000;
  }

  .nav-right > li > a{
    display: block;
    padding: 20px;
  }

  .sign-out{
    display: block;
    padding: 20px;
  }

  button.submit {
    background: lightblue;
    border-radius: 5px;
    padding: 5px;
  }

  button.submit:hover{
    background: blue;
    color: #fff;
    cursor: pointer;
  }

  .add-shop, .add-item, .edit-item {
    background: lightblue;
    border-radius: 5px;
    padding: 5px;
  }

  .add-shop:hover, .add-item:hover, .edit-item:hover{
    background: blue;
    color: #fff;
    cursor: pointer;
  }

  .radio:hover{
    cursor: pointer;
  }
