<ul class="nav-left group">
  <li class="getsy">Getsy</li>



    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <li>
      <input type="text" name="" value="Search for items or shops">
    </li>
    <li>
      <button class="search">Search</button>
    </li>
    <li>
      <input list="ideas" />
      <datalist id="ideas">
        <option value="Cool Stuff">
        <option value="Boring Stuff">
      </datalist>
    </li>
  
</ul>
