<ul class="nav-right group">
  <li><a href="<%= root_url %>">Home</a></li>
  <li><a href="#"><%= current_user.fname %></a></li>
  <li>
    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
      <button class="sign-out">Sign Out</button>
    </form>
  </li>
  <li><a href="#">Cart</a></li>
</ul>
