<ul class="nav-right group">
  <li><a href="#">Home</a></li>
  <li><a href="<%= new_session_url %>">Sign In</a></li>
  <li><a href="<%= new_user_url %>">Register</a></li>
  <li><a href="#">Cart</a></li>
</ul>
